* {
  box-sizing: border-box;
}


main{
  
  background-image: url(images/bg-mobile.svg);
background-color: hsl(257, 40%, 49%);
background-repeat: no-repeat;
font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}


.flex-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center; 
  margin: auto;
}


.logo{
  width:40%;
  align-self: flex-start;
  margin: 2rem 0 1rem 2rem;
  
}

.illustration-mockups{
  width: 84%;
  margin: 2.6rem 0 2rem 0.8rem;
  align-self: center;
}

div h1{
  width: 70%;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: larger;
  margin: 1.2rem 0 1rem 0;
  
}

div p{
  width: 73%;
  text-align: center;
  color: rgb(189, 184, 194);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4rem;
  
}

button{
  padding: 0.7rem 5rem;
  border-radius: 20px;
  color: rgb(103, 75, 175);
  border-width: 0em;
  margin: 1rem 0 1rem 0;
  font-size: small;
  font-family: 'Poppins', sans-serif;
}
button:hover{
  background-color: darkorchid;
}

.icon{
  margin: 2rem 0 2rem 0;
 color: white;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 width: 20%;
}
.image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a {
   color: hsl(228, 45%, 44%);
   }

@media (min-width: 40rem) {
  body{
    height: 100vh;
    display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  margin: auto;
  }
main{
  height: 22rem;
  width: 42rem;
  border-radius: 10px;
  background-image: url(images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

  .flex-container{
    display: flex;
  flex-direction: row;
  width: 100%;
  
  }

  .image-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    margin: auto;
    width: 55%;
    height: 22rem;
  }
  .text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;  
  }



  div h1{
    width: 70%;
    margin: 5rem 0 1rem 0;
    text-align: start;
    font-size: large;
    line-height: 1.7rem;
    

  }

  div p{
    width:90%;
    margin: 0;
    text-align: start;
    font-size: x-small;
    line-height: normal;
  }

  button{
    margin: 1rem 0 0 0;
    padding: 0.4rem 2rem;
    font-size: xx-small;
    
  }

  .icon{
    align-self: flex-end;
    margin: 5rem 2rem 0 0;
    
  }

  .logo{
    
    margin: 1.5rem 0 0 2rem;
    width: 26%;
  }
  .illustration-mockups{
    margin: auto;
    
  }
}